<!DOCTYPE html>
<html>
<head>
  <title>Umeditor</title>
  <%= stylesheet_link_tag    "umeditor/application", media: "all" %>
  <%= javascript_include_tag "umeditor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
